.git
.gitignore
.env
.env.backup
.env.production
node_modules
npm-debug.log
vendor
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
README.md
docs/
tests/
*.md

